#html5-qrcode-button-camera-stop, #html5-qrcode-button-camera-start, #html5-qrcode-button-file-selection {
    padding: 10px 15px;
    background-color: #fff;
    margin: 15px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px black;
}