@media screen and (max-width: 750px){
    .send-card {
        width: 90% !important;
        height: 75vh !important;
        box-shadow: 0px 0px 10px #222 !important;
        border-radius: 30px !important;
        margin: 30px auto 0px auto !important;
        font-size: x-large !important;
    }
    .status {
        width: 80% !important;
    }

}

.send-card {
    width: 600px;
    height: 60vh;
    background-color: #fff;
    box-shadow: 0px 0px 20px #222;
    border-radius: 55px;
    margin: 40px auto 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-card-body {
    font-size: xx-large;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    padding: 50px 40px;
    font-family: 'Courier New', Courier, monospace;
}

.send-submit {
    display: block;
    margin-top: 30%;
    width: 150px;
}

.btn-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.status {
    font-size: xx-large !important;
    text-align: center !important;
    height: 400px !important;
    width: 50%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}