@media screen and (max-width: 750px){
    .full-card {
        width: 90% !important;
        height: 750px !important;
        box-shadow: 0px 0px 10px #222 !important;
        border-radius: 30px !important;
        margin: 30px auto 0px auto !important;
    }
    
    .card-header {
        font-size: large !important;
        font-weight: 650 !important;
        padding: 30px 10px !important;
    }

    .switch {
        width: 100px !important;
        height: 40px !important;
    }
    
    .card-body {
        font-size: large !important;
        padding: 5px 20px !important;
    }
        
    .popup {
        height: 60vh !important;
        width: 90vw !important;
        top: 20% !important;
        left:5% !important;
    }
    .popup-qr-image {
        height: 35vh !important;
        margin: auto !important;
    }
}

section {
    margin-bottom: 20px;
}

.giphy {
    width: 99%;
    height: 400px;
    display: block;
    border-radius: 50px 50px 0px 0px;
}

.card-edit {
    margin: 30px auto !important;
    height: 500px !important;
    background-color: #fff !important;
}


.before-login {
    height: 40px !important;
    border-radius: 10px !important;
    padding-top: 20px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
    justify-content: center;
    align-items: center;

}

.full-card {
    width: 600px;
    height: 700px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #222;
    border-radius: 55px;
    margin: 40px auto 30px auto;
}

.card-header {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 530;
    padding: 45px 10px;
}

.switch {
    width: 200px;
    height: 60px;
    text-align: center;
}
.switch:hover {
    cursor: pointer;
}

.card-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    line-height: 35px;
    text-align: center;
    padding: 5px 45px;
}

.qr-code {
    height: 200px;
}

.text-input {
    display: block;
    margin-top: 30px;
    padding: 5px 15px;
    margin: 15px auto;
    border-radius: 5px;
    height: 40px;
    width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    background-color: #fff;
}

.submit-input {
    height: 50px;
    padding: 10px;
    font-size: large;
    opacity: .9;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: rgb(237, 238, 238);
    background-color: #434141;
    font-family: Arial, Helvetica, sans-serif;
}

.popup {
    height: 60vh;
    width: 40vw;
    background-color: #fff;
    border-radius: 45px;
    box-shadow: 0px 0px 15px #222;
    position: absolute;
    top: 20%;
    left:30%;
    margin: auto;
}
.cancel-btn {
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.cancel-wrap {
    display: flex;
    width: 100%;
    justify-content: end;
}
.popup-qr-image {
    height: 40vh;
}
.popup-share-div {
    display: flex;
    justify-content: center;
}
.popup-share {
    margin: 0px 20px;
    display:block;
    padding: 7px 15px;
    width: 120px;
    background-color: #fff;
    box-shadow: 0px 0px 3px black;
}
.popup-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    line-height: 35px;
    text-align: center;
    padding: 5px 45px;
}

.qr {
    padding: 15px 0px;
}

.qr-image {
    height: 150px;
    width: 150px;
}

.download-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.download-btn {
    margin: 0px 20px;
    display:block;
    padding: 7px 15px;
    width: 120px;
    background-color: #fff;
    box-shadow: 0px 0px 3px black;
}