@media screen and (max-width: 750px){
    .full-card {
        width: 345px !important;
        height: 750px !important;
        box-shadow: 0px 0px 10px #222 !important;
        border-radius: 30px !important;
        margin: 30px auto !important;
    }
    
    .card-header {
        font-size: large !important;
        font-weight: 650 !important;
        padding: 30px 10px !important;
    }

    .switch {
        width: 100px !important;
        height: 40px !important;
    }
    
    .card-body {
        font-size: large !important;
        padding: 5px 25px;
    }
}

.full-card {
    width: 600px;
    height: 700px;
    background-color: rgb(243, 241, 241);
    box-shadow: 0px 0px 20px #222;
    border-radius: 55px;
    margin: 120px auto;
}

.card-header {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 530;
    padding: 45px 10px;
}

.switch {
    width: 200px;
    height: 60px;
    text-align: center;
}
.switch:hover {
    cursor: pointer;
}

.card-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    padding: 5px 35px;
}