@media screen and (max-width: 750px){
    .login-toggle {
        margin: 20px 5% !important;
    }
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}

.title {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    font-size: xx-large;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
}

.login-toggle {
    background-color: #fff;
    font-size: medium;
    margin: 20px;
    height: 40px;
    width: 250px;
    font-weight: bold;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #080808;
}

.login-white {
    background-color: white;
}

.scan-link-div {
    width: 100%;
    text-align: center;
}

.scan-link {
    text-decoration: none;
    font-size: large;
    color: #000;
}

.scan-link:hover {
    border-bottom: 2px solid black;
}